$font-sizes: ("text": 14px, "link": 16px, "logo_header": 20px);

@mixin button {
    width: 100px;
    height: 35px;
    background-color: $headerButtonColor;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: map-get($font-sizes, text);
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

@mixin link ($color) {
    color: $color;
}

.landing-logo {
    display: flex;
    align-items: center;
    font-family: $logoTextFamily;

    img {
        width: 33px;
        height: 33px;
    }

    p {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        margin-left: 10px;
        font-size: map-get($font-sizes, logo_header);

        span {
            font-weight: 500;
            font-size: 8px;
            text-align: center;
        }
    }
}

body {
    background: $contentBackground;
}

.header {
    height: 520px;
    background: $headerBackgroundImage no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 500px 0px / 0px 0px 200px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: $headerTextColor;

    &-wrap {
        width: 400px;
        margin-left: 125px;

        & div:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 365px;
            .header_button {
                @include button;
            }
            a {
                @include link (white);
            }
        }
    }

    &_heading {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 52px;
        font-weight: bold;
        line-height: 56px;
        z-index: 1;

        &::before {
            position: absolute;
            content: '';
            width: 220px;
            height: 45px;
            bottom: 0px;
            background-color: $beforeHeadingColor;
            z-index: -1;
        }
    }

    &_text {
        font-family: $headerTextblockFamily;
        width: 550px;
        margin-bottom: 45px;
        font-size:  map-get($font-sizes, text);
        line-height: 20px;
        white-space: pre-line;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_text {
        position: relative;
        z-index: 1;
        font-size: 28px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
        color: $sectionTextColor;

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            width: 125px;
            left: 145px;
            height: 30px;
            background-color: $beforeHeadingColor;
        }
    }
    
    &_card {
        padding: 15px;
        margin-bottom: 20px;
        display: flex;
        width: 800px;
        font-family: 'Source Sans Pro', sans-serif;
        background-color: $sectionCardBackground;
        border-radius: 10px;

        &_img {
            width: 120%;
            border-radius: 5px;
        }

        &_right_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 60px;
            margin-right: 60px;
            margin-bottom: 20px;
            margin-top: 15px;
        }

        &_heading {
            color: white;
            font-size: map-get($font-sizes, logo_header);
            font-weight: 600;
        }

        &_text {
            color: rgb(169, 171, 181);
            text-align: justify;
            font-size: 13px;
            line-height: 18px;
            font-family: $sectionCardTextFamily;
        }
    }

    &_link {
        color: rgb(169, 171, 181);
        margin-top: 10px;
        font-size: map-get($font-sizes, link);
    }
}

.section_banner {
    position: relative;
    width: 900px;
    height: 100px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, $bannerLeftColor, $bannerRightColor);
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    
    &_heading {
        position: relative;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.5em;
        z-index: 1;
        color: rgb(44, 47, 60);

        &::before {
            position: absolute;
            content: '';
            width: 54px;
            left: 96px;
            height: 30px;
            background-color: $beforeHeadingColor;
            z-index: -1;
        }
    }

    &_button {
        @include button;
    }

    &_text {
        font-size: map-get($font-sizes, text);
        margin-bottom: 40px;
        color: lightgray;
    }
}


.footer {
    display: flex;
    justify-content: center;
    background-color: $footerBackground;
    font-family: $footeTextFamily;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: lightgray;
        height: 120px;
        padding-top: 50px;
        width: 1100px;
    }

    &_text {
        max-width: 300px;
        font-size:  map-get($font-sizes, text);
    }

    &-cr {
        @extend .footer_text;
    }
}