$logoTextFamily: 'Fresca', sans-serif;
$headerBackgroundImage: url("../img/m-h-night.jpg");
$beforeHeadingColor: rgb(255, 78, 52);
$headerTextColor: #fff;
$headerTextblockFamily: $logoTextFamily;
$headerButtonColor: rgb(225, 175, 2);
$contentBackground: rgb(33, 35, 46);
$sectionTextColor: #fff;
$sectionCardBackground: rgb(59, 63, 80);
$sectionCardHeading: $sectionTextColor;
$sectionCardText: rgb(209, 204, 197);
$sectionCardTextFamily: $logoTextFamily;
$bannerLeftColor: #d5a61c;
$bannerRightColor: #95304e;
$footerBackground: $sectionCardBackground;
$footeTextFamily: $logoTextFamily;