$logoTextFamily: 'Source Sans Pro', sans-serif;
$headerBackgroundImage: url("../img/m-h-day.jpg");
$beforeHeadingColor: rgb(20, 160, 199);
$headerTextColor: rgb(44, 47, 60);
$headerTextblockFamily: $logoTextFamily;
$headerButtonColor: rgb(105, 153, 0);
$contentBackground: #fff;
$sectionTextColor: #2c2f3c;
$sectionCardBackground: rgb(33, 35, 46);
$sectionCardHeading: $sectionTextColor;
$sectionCardText: #fff;
$sectionCardTextFamily: $logoTextFamily;
$bannerLeftColor: #699902;
$bannerRightColor: #2252dc;
$footerBackground: $sectionCardBackground;
$footeTextFamily: $logoTextFamily;